<!DOCTYPE html>
<html lang="en">

  {% block content %}

  <div class = 'flash'>
  		      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}

  </div>

  <div class="crud">

    <a href="{{url_for('newPart')}}">
      <button class="btn">Add Part</button>
    </a>

    <a href="{{url_for('showHome')}}">Back to categories</a>

    <a href="{{url_for('gdisconnect')}}">Logout</a>

  </div>

  <h1>Are you sure you want to delete {{part.name}}???</h1>

  <form method = 'post'>

    <button type="submit" class='btn' id="sumbit">Delete {{part.name}}</button>
  </form>

  {% endblock %}

</html>
