<!DOCTYPE html>
<html lang="en">

  {% block content %}

  <div class = 'flash'>
  		      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}

  </div>

  <div class="crud">

    <a href="{{url_for('newPart')}}">
      <button class="btn">Add Part</button>
    </a>
    <a href="{{url_for('editPart', part_id = part.id)}}">
      <button class="btn">Edit Part</button>
    </a>
    <a href="{{url_for('deletePart', part_id = part.id)}}">
      <button class="btn">Delete Part</button>
    </a>

    <a href="{{url_for('showHome')}}">Back to categories</a>

    <a href="{{url_for('gdisconnect')}}">Logout</a>

  </div>

  <h1>{{part.name}} Info</h1>

  <div class="info">

    <!-- print all that part info -->
    <ul>
      <li>Part: {{part.name}}</li>
      <li>Type: {{part.type}}</li>
      <li>Price: {{part.price}}</li>
      <li>Manufacturer: {{part.manufacturer}}</li>
      <li>Model Number: {{part.model_number}}</li>
    </ul>

  </div>



  {% endblock %}

</html>
