<!DOCTYPE html>
<html lang="en">

  {% block content %}

  <div class="crud">

    <a href="{{url_for(showHome)}}">Back to categories</a>

  </div>

  <h1>{{part.name}} Info</h1>

  <div class="info">

    <!-- print all that part info junk man u know what it is -->
    <ul>
      <li>Part: {{part.name}}</li>
      <li>Type: {{part.type}}</li>
      <li>Price: {{part.price}}</li>
      <li>Manufacturer: {{part.manufacturer}}</li>
      <li>Model Number: {{part.model_number}}</li>
    </ul>

  </div>



  {% endblock %}

</html>
